<header class="navbar navbar-default blog-header" id="top" role="banner">
	<div class="container-fluid">
	  	<div class="navbar-header col-sm-3">
	  		<h2>Ravi Kiran</h2>
	  	</div>
	</div>
</header>
<div class="detail-blog container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-10 col-sm-push-1">
			<div class="row">
				<div class="text-center col-xs-12 col-sm-12 blog-title">
					<h1>HTML IN SHORT</h1>
				</div>
				<div class="col-xs-12 col-sm-12 html-intro">
					<p>HTML is markup language for describing web documents.</p>
					<p>HTML stands for Hyper Text Markup Language</p>
					<p>HTML documents are described by HTML tags.</p>
					<p class="text-center">
						<img src="/images/HTML-template.png" width="500px">
					</p>
					<p class="text-center">A sample HTML page</p>
					<p>The above mentioned is the basic structure of a html page.<br>
						The first line is the HTML5 declaration. This conveys which version of HTML your document is using and a critical information for  some processing tools.
						<xmp>
							<html>-- start tag
							</html>-- end tag.
							<title>-- This tag is used for defining the title of document .
							<head>-- This tag is used for declaring all the related script, css files used for building the document.
							<body>-- This tag is the main tag which describes the visible data content.
							All the tags should be always enclosed  between <html></html> tags.
						</xmp>
					</p>
					<P>There are previous versions of HTML.</P>
					<table class="table table-bordered">
  						<thead>
  							<tr>
  								<td>Version</td>
  								<td>Release Year</td>
  							</tr>
  						</thead>
  						<tbody>
  							<tr>
  								<td>HTML</td>
  								<td>1991</td>
  							</tr>
  							<tr>
  								<td>HTML 2.0</td>
  								<td>1995</td>
  							</tr>
  							<tr>
  								<td>HTML 3.2</td>
  								<td>1997</td>
  							</tr>
  							<tr>
  								<td>HTML 4.01</td>
  								<td>1999</td>
  							</tr>
  							<tr>
  								<td>XHTML</td>
  								<td>2000</td>
  							</tr>
  							<tr>
  								<td>HTML 5</td>
  								<td>2014</td>
  							</tr>
  						</tbody>
  						
					</table>
				</div>
				<div class="col-xs-12 col-sm-12 html-elements">
					<h2>HTML Elements</h2>
					<p>There are two types of HTML elemnts</p>
					<div class="row">
						<div class="col-xs-12 col-sm-12">
							<h3>1.Block level elements</h3>
							<p>A block level element always start from new line and takes up the full width available.</p>
							<xmp>Examples: <div>,<p>,<form>,<h1> to <h6></xmp>
						</div>
						<div class="col-xs-12 col-sm-12">
							<h3>2.Inline elements</h3>
							<p>An inline element does not start on new line and takes up only as width as needed.</p>
							<xmp>Examples: <span>,<a>,<img></xmp>
						</div>
					</div>
					

					
				</div>
				<div class="col-xs-12 col-sm-12 html-tags">
					<h2>HTML Tags</h2>
					<p>HTML tags mostly come in pairs.<br> The first tag is start tag and second one is called end tag.<br>HTML tags are keywords surrounded by angular brackets.</p>
					<strong><xmp><tagname>content</tagname></xmp></strong>
						
					<h3>Some widely used tags:</h3>
					<div class="html-tags-description">
						<h3>1.HTML headings</h3>
						<xmp>
							<h1>This is heading</h1>
							<h2>This is heading</h2>
							<h3>This is heading</h3>
							<h4>This is heading</h4>
							<h5>This is heading</h5>
							<h6>This is heading</h6>

							<h1> indicates most important heading 
							<h6> indicates least important heading 
						</xmp>
						<h3>2.HTML paragraphs</h3>
						<xmp>
							<p>This is  paragraph</p>
							<p>This is  another paragraph</p>
						</xmp>
						<h3>3.HTML Links</h3>
							<xmp>
								HTML links are defined by <a> tags.
								<a href="www.google.com">Click here for Google </a>
							</xmp>
							<p>Clicking on this will redirect to google home page.</p>
						<h3>4.HTML Images</h3>
						<xmp>
							HTML images  are defined by <img> tags.
							<img src=”” alt=”My home” width=”100px” height=”100px”>
								‘src’ indicates path of the image .
								‘alt’ indicates text to be shown when image is not loaded properly.
								width , height provides dimensions of the image.
							
							<p>Clicking on this will redirect to google home page.</p>
						</xmp>
						<h3>5.HTML CSS</h3>
						<p>The css for an element can be declared as inline to the element using ‘style’ attribute.</p>
						<xmp><h1 style=”color:blue;”>HTML5 POWER UNLEASHED</h1></xmp>
						<p>The above mentioned example changes the color of heading to blue.<br>
						Note: Inline CSS is not an advisable practice for implementing  CSS.
						</p>
						<h3>6.HTML Comments</h3>
						<p>Comments in the html document can be inserted by </p>
						<img src="" alt="<!-----your  comments  here------>">
						
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 html-attributes">
					<h2>HTML Attributes</h2>
					<p>HTML elements can have attribute. They provide additional information about an element.
					Attributes are specified in start tags and always come in key-value pairs.
					</p>
					<h3>Some widely used attributes</h3>
					<div class="html-attributes-description">
						<h3>1.lang attribute</h3>
						<xmp>
							The document language can be declared in <html> tag. It is important for accessibility applications and search engines.
							<html lang=”en”>
						</xmp>
						<h3>2.title attribute</h3>
						<xmp>
							We can declare title attribute to elements such as  <p>,<div>,<h1> etc. On hovering on these tags, a small header is displayed.
						</xmp>
						<h3>3.href attribute</h3>
						<xmp>
							This attribute is used in <a> tag mainly for link address, to where page should be navigated.
							<a href="linkPath">Click here to go to link</a>
						</xmp>
						<h3>4.title attribute</h3>
						<xmp>
							We can declare title attribute to elements such as  <p>,<div>,<h1> etc. On hovering on these tags, a small header is displayed.
						</xmp>
						<h3>5.size  attribute</h3>
						<xmp>
							On observing <img> tag, <img src=”” alt=”” width=”” height=””>. All the details of image are mentioned through attributes ‘src’ ,  ‘alt’ , ‘width’ and ‘height’.
							<p>'src' attribute denotes path of image</p>
							<p>'alt' attribute denotes text to be shown when image fails to load</p>
							<p>'width' , 'height' denotes dimensions of the image.</p>
						</xmp>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 html5-elements">
					<h2>New HTML5 elements</h2>
					<p>These are some of the recently added HTML5 elements were emntioned below</p>
					<li>
						<ul><xmp><video></xmp></ul>
						<ul><xmp><audio></xmp></ul>
						<ul><xmp><input>type attributes</xmp></ul>
						<ul><xmp><header></xmp></ul>
						<ul><xmp><footer></xmp></ul>
						<ul><xmp><canvas></xmp></ul>
						<ul><xmp><article></xmp></ul>
						<ul><xmp><section></xmp></ul>
						<ul><xmp><output></xmp></ul>
						<ul><xmp><figure> and <figcaption></xmp></ul>
						<p>And many more still...</p>
					</li>
				</div>	
			</div>
		</div>
	</div>
</div>
<footer class="blog-footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-sm-push-3">
				Copyright © 2016 FriendyBoltz. Design by Ravi Kiran.
			</div>
		</div>
	</div>
</footer>
