		<header class="navbar navbar-default navbar-fixed-top navbar-transparent slider-navbar" id="top" role="banner">
			<div class="container-fluid">
			  	<div class="navbar-header col-sm-5">
			  		<h2>FRIENDY BOLTZ</h2>
			  		
			  	</div>
			  	
			  	<div class="collapse navbar-collapse col-sm-3 pull-right">
			  		<ul class="nav navbar-nav">
			  			<li><button class="btn btn-danger">Sign In</button></li>
			 		</ul>	
			  	</div>
			</div>
		</header>
		<!-- <img src="assets/img/logoFB.png" alt="Chania"> -->
		<div class="container-fluid friendyboltz">
			<div class="row">
				<div id="myCarousel" class="carousel slide col-xs-0" data-ride="carousel">
					<ol class="carousel-indicators">
				        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				        <li data-target="#myCarousel" data-slide-to="1"></li>
				        <li data-target="#myCarousel" data-slide-to="2"></li>
				        <li data-target="#myCarousel" data-slide-to="3"></li>
				        <li data-target="#myCarousel" data-slide-to="4"></li>
				        <li data-target="#myCarousel" data-slide-to="5"></li>
				    </ol>
					<div class="carousel-inner" role="listbox">
					    <div class="item slide1 active">
					      <!-- <img src="assets/img/2.jpg" alt="Chania"> -->
					      <div class="overlay-carousel"></div>
					    </div>

					    <div class="item slide2">
					    	<div class="overlay-carousel"></div>
					      <!-- <img src="assets/img/ben.jpg" alt="Chania"> -->
					    </div>

					    <div class="item slide3">
					    	<div class="overlay-carousel"></div>
					      <!-- <img src="assets/img/vamsi.jpg" alt="Flower"> -->
					    </div>
					    <div class="item slide4">
					      <!-- <img src="assets/img/2.jpg" alt="Chania"> -->
					      <div class="overlay-carousel"></div>
					    </div>

					    <div class="item slide5">
					    	<div class="overlay-carousel"></div>
					      <!-- <img src="assets/img/ben.jpg" alt="Chania"> -->
					    </div>

					    <div class="item slide6">
					    	<div class="overlay-carousel"></div>
					      <!-- <img src="assets/img/vamsi.jpg" alt="Flower"> -->
					    </div>
					</div>
				</div>
				<div class="col-sm-10 col-sm-push-1 site-quote">
                    <blockquote>
                        <p>Friendship isn't about whom you have known the longest... <br>It's about who came, and never left your side.</p>
                   </blockquote>
                </div>
				<div class="photo-stack col-sm-10 col-sm-push-1">
					<div class="row">
						<div class="col-xs-12 col-sm-12 photo-stack-header">
							<h3>WHO WE ARE</h3>
						</div>
						<div class="col-xs-3 col-sm-1">
							<a href="ravi"><div class="sravya members-pic"></div></a>
						</div>
						<div class="col-xs-3 col-sm-1">
							<a href="ravi"><div class="swetha members-pic"></div></a>
						</div>
						<div class="col-xs-3 col-sm-1">
							<a href="ravi"><div class="shan members-pic"></div></a>
						</div>
						<div class="col-xs-3 col-sm-1">
							<a href="ravi"><div class="ben members-pic"></div></a>
						</div>
						<div class="col-xs-3 col-sm-1">
							<a href="ravi"><div class="ramya members-pic"></div></a>
						</div>
						<div class="col-xs-3 col-sm-1">
							<a href="ravi"><div class="vamsi members-pic"></div></a>
						</div>
						<div class="col-xs-3 col-sm-1">
							<a href="ravi"><div class="ravi members-pic"></div></a>
						</div>
						<div class="col-xs-3 col-sm-1">
							<a href="ravi"><div class="supriya members-pic"></div></a>
						</div>
					</div>
				</div>
				 
				<!-- <div class="col-sm-push-1 col-sm-10 members-intro">
					<h1 class="text-center">WHO WE ARE</h1>
					<div class="row">
						<div class="col-sm-push-1 col-sm-10">
							<div class="row">
								<div class="col-sm-12 member-row">
									<div class="row">
										<div class="col-xs-3 col-sm-3">
											<div class="sravya members-pic"></div>
											<p class="text-center"><a href="">Sravya</a></p>
										</div>
										<div class="col-xs-3 col-sm-3">
											<div class="swetha members-pic"></div>
											<p class="text-center"><a href="">Swetha</a></p>
										</div>
										<div class="col-xs-3 col-sm-3">
											<div class="shan members-pic"></div>
											<p class="text-center"><a href="">Sanker</a></p>
										</div>
										<div class="col-xs-3 col-sm-3">
											<div class="ben members-pic"></div>
											<p class="text-center"><a href="">Benju</a></p>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-12 member-row">
									<div class="row">
										<div class="col-xs-3 col-sm-3">
											<div class="ramya members-pic"></div>
											<p class="text-center"><a href="">Ramya</a></p>
										</div>
										<div class="col-xs-3 col-sm-3">
											<div class="vamsi members-pic"></div>
											<p class="text-center"><a href="">Vamsi</a></p>
										</div>
										<div class="col-xs-3 col-sm-3">
											<div class="ravi members-pic"></div>
											<p class="text-center"><a href="ravi">Ravi</a></p>
										</div>
										<div class="col-xs-3 col-sm-3">
											<div class="supriya members-pic"></div>
											<p class="text-center"><a href="">Supriya</a></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div> -->
			</div>
		</div>