<header
  nav-scroll
  class="navbar navbar-default navbar-fixed-top navbar-transparent slider-navbar member-header"
  id="top"
  role="banner"
>
  <div class="container-fluid">
    <div class="navbar-header col-sm-3">
      <h2>Ravi Kiran</h2>
    </div>
    <div class="collapse navbar-collapse col-sm-9 pull-right">
      <ul class="nav navbar-nav">
        <li role="presentation"><a smooth-scroll href="#aboutMe">ABOUT</a></li>
        <li role="presentation"><a smooth-scroll href="#skills">SKILLS</a></li>
        <li role="presentation"><a smooth-scroll href="#resume">PROFILE</a></li>
        <li role="presentation"><a smooth-scroll href="#blog">BLOG</a></li>
        <!-- <li role="presentation"><a smooth-scroll href="#gallery">GALLERY</a></li> -->
        <li role="presentation">
          <a smooth-scroll href="#contact-me">CONTACT</a>
        </li>
        <!-- <li><a href="" class="btn">Sign In</a></li> -->
      </ul>
    </div>
  </div>
</header>

<div class="container-fluid raviPage" ng-controller="raviPageController">
  <div class="row">
    <div class="col-sm-12 member-picture">
      <div class="overlay"></div>
    </div>
    <div class="col-xs-12 col-sm-6 col-sm-push-3 member-heading">
      <div class="jumbotron">
	<img src="images/ravi-250x250.png" width="250" height="250" alt="profile-pic" style="border-radius: 50%; object-fit: cover;">
        <h1>Hello! I'm Ravi Kiran.</h1>
        <p>Front End Engineer</p>
        <p>
          <a
            smooth-scroll
            class="btn btn-primary btn-lg"
            href="#aboutMe"
            role="button"
            >About Me</a
          >
        </p>
      </div>
    </div>

    <div id="aboutMe" class="col-xs-12 col-sm-10 col-sm-push-1 aboutMe">
      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <h2>ABOUT ME</h2>
          <hr />
        </div>
        <div class="col-sm-12">
          <ul>
            <li>
              Developer with an eye for design, paying attention to detail,
              passionate about creating fast, responsive and intuitive user
              experiences for the web and mobile.
            </li>
            <li>
              Works closely with product owners and UX design teams to define
              and refine apps feature specifications.
            </li>
            <li>
              Implementing web accessibility to the applications created to
              provide equal access and equal opportunity to people with
              disabilities.
            </li>
            <li>
              Self-motivated, highly organized and able to work in a team
              environment that is fast-paced with multiple projects under
              minimal supervision.
            </li>
            <li>Always open to learn and adapt new trending technologies.</li>
          </ul>
        </div>
      </div>
    </div>
    <div id="skills" class="col-xs-12 col-sm-10 col-sm-push-1 skills">
      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <h2>MY SKILLS</h2>
          <hr />
        </div>
        <div class="col-sm-6">
          <p>
            My till date working web technologies include HTML5, CSS3,
            Javascript, React JS, Polymer,jQuery, Responsive Design, Bootstrap3,
            REST web Services and experience with npm modules.
          </p>
          <p>
            Good debugging skills using Browser Debugging Tools of Chrome.
          </p>
          <p>
            Experience in solving cross-browser issues and implementing
            development of pages in older versions of browsers, especially IE8.
          </p>
        </div>
        <div class="col-sm-6">
          <h3>HTML5</h3>
          <div class="progress">
            <div
              class="progress-bar progress-bar-striped active"
              role="progressbar"
              aria-valuenow="40"
              aria-valuemin="0"
              aria-valuemax="100"
              style="width: 80%"
            ></div>
          </div>
          <h3>CSS3</h3>
          <div class="progress">
            <div
              class="progress-bar progress-bar-striped progress-bar-success active"
              role="progressbar"
              aria-valuenow="40"
              aria-valuemin="0"
              aria-valuemax="100"
              style="width: 80%"
            ></div>
          </div>
          <h3>JavaScript</h3>
          <div class="progress">
            <div
              class="progress-bar progress-bar-striped progress-bar-danger active"
              role="progressbar"
              aria-valuenow="40"
              aria-valuemin="0"
              aria-valuemax="100"
              style="width: 80%"
            ></div>
          </div>
          <h3>React JS</h3>
          <div class="progress">
            <div
              class="progress-bar progress-bar-striped progress-bar-warning active"
              role="progressbar"
              aria-valuenow="40"
              aria-valuemin="0"
              aria-valuemax="100"
              style="width: 60%"
            ></div>
          </div>
          <h3>Polymer JS</h3>
          <div class="progress">
            <div
              class="progress-bar progress-bar-striped progress-bar-warning active"
              role="progressbar"
              aria-valuenow="40"
              aria-valuemin="0"
              aria-valuemax="100"
              style="width: 80%"
            ></div>
          </div>
          <h3>Vue JS</h3>
          <div class="progress">
            <div
              class="progress-bar progress-bar-striped active"
              role="progressbar"
              aria-valuenow="40"
              aria-valuemin="0"
              aria-valuemax="100"
              style="width: 50%"
            ></div>
          </div>
          <h3>Bootstrap3</h3>
          <div class="progress">
            <div
              class="progress-bar progress-bar-striped progress-bar-success active"
              role="progressbar"
              aria-valuenow="40"
              aria-valuemin="0"
              aria-valuemax="100"
              style="width: 80%"
            ></div>
          </div>
        </div>
      </div>
    </div>
    <div id="resume" class="col-xs-12 col-sm-10 col-sm-push-1 resume">
      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <h2>PROFILE</h2>
          <hr />
        </div>
        <div class="col-xs-12 col-sm-12">
          <div class="row">
            <div class="col-sm-5 col-xs-5 left-res">
              <h3>Servicenow, India</h3>
              <h4>Front End Engineer</h4>
              <p>
                Working as a Front-End Engineer in Bigdata & Analytics team of the organisation.
              </p>
            </div>
            <div class="col-sm-2 col-xs-2 center-res">
              <span>February 2019</span><br />
              <span>-</span><br />
              <span>present</span>
            </div>

            <div class="col-sm-12 col-xs-12">
              <div class="row">
                <div class="col-sm-1 col-sm-push-5 horizontal-res"></div>
              </div>
            </div>
            <div class="col-sm-2 col-xs-2 col-sm-push-5 center-res">
              <span>May 2016</span><br />
              <span>-</span><br />
              <span>January 2019</span>
            </div>
            <div class="col-sm-5 col-xs-5 col-sm-push-5 right-res">
              <h3>Deloitte Consulting, India</h3>
              <h4>Front-End Engineer</h4>
              <p>
                Working as a Consultant on multiple projects across various
                domains.
              </p>
            </div>
            <div class="col-sm-12 col-xs-12">
              <div class="row">
                <div class="col-sm-1 col-sm-push-5 horizontal-res"></div>
              </div>
            </div>
            <div class="col-sm-5 col-xs-5 left-res">
              <h3>Capgemini, India</h3>
              <h4>Front-End Developer</h4>
              <p>
                Worked as a Front-End Developer for a reputed US bank as my
                client.
              </p>
            </div>
            <div class="col-sm-2 col-xs-2 center-res">
              <span>July 2013</span><br />
              <span>-</span><br />
              <span>April 2016</span>
            </div>

            <div class="col-sm-12 col-xs-12">
              <div class="row">
                <div class="col-sm-1 col-sm-push-5 horizontal-res"></div>
              </div>
            </div>

            <div class="col-sm-2 col-xs-2 col-sm-push-5 center-res">
              <span>September 2009</span><br />
              <span>-</span><br />
              <span>April 2013</span>
            </div>
            <div class="col-sm-5 col-xs-5 col-sm-push-5 right-res">
              <h3>ANITS Engg college</h3>
              <h4>Bachelor of Technology</h4>
              <p>
                Completed B.Tech degree in Computer Science Engg(CSE) from an
                Andhra University affliated college from Visakhapatnam.
              </p>
            </div>
            <div class="col-sm-12 col-xs-12 text-center resume-button">
              <a
                href="assets/files/RaviKiran_FE_7years_Resume.pdf"
                target="_blank"
                class="btn btn-danger"
                >View Resume</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="blog" class="col-xs-12 col-sm-10 col-sm-push-1 blog">
      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <h2>BLOG</h2>
          <hr />
        </div>
        <!-- <div class="col-xs-6 col-sm-6 summer-blog">
						<div class="row">
							<div class="bg-image col-sm-12">
								<div class="overlay">
									<h3>My Journey to Goa</h3>
						  			<p>Summer Trip</p>
						  			<p><a class="btn btn-primary btn-lg" href="#" role="button">Read more..</a></p>
					  			</div>
							</div>

						</div>
					</div> -->
        <div class="col-xs-6 col-sm-6 html5-blog">
          <div class="jumbotron overlay">
            <h3>HTML in Short</h3>
            <p>Education tutorial</p>
            <p>
              <a class="btn btn-primary btn-lg" href="htmlBlog" role="button"
                >Read more..</a
              >
            </p>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6"></div>
        <div class="col-xs-6 col-sm-6"></div>
      </div>
    </div>
    <!-- <div id="gallery" class="col-xs-12 col-sm-10 col-sm-push-1 gallery">
				<div class="row">
					<div class="col-xs-12 col-sm-12">
						<h2>GALLERY</h2>
						<hr>
					</div>
					<div class="col-xs-12 col-sm-12 gallery-synopsis">
						<div class="row">
							<div class="col-xs-6 col-sm-4" ng-click="imageMaxShow()">
								<a class="thumbnail">
									<img src="/images/ravi22.JPG">
								</a>
							</div>
							<div class="col-xs-6 col-sm-4" ng-click="imageMaxShow()">
								<a class="thumbnail">
									<img src="/images/ravi19.JPG">
								</a>
							</div>
							<div class="col-xs-6 col-sm-4" ng-click="imageMaxShow()">
								<a class="thumbnail">
									<img src="/images/ravi23.JPG">
								</a>
							</div>
							<div class="col-xs-6 col-sm-4" ng-click="imageMaxShow()">
								<a class="thumbnail">
									<img src="/images/ravi17.JPG">
								</a>
							</div>
							<div class="col-xs-6 col-sm-4" ng-click="imageMaxShow()">
								<a class="thumbnail">
									<img src="/images/ravi18.JPG">
								</a>
							</div>
							<div class="col-xs-6 col-sm-4" ng-click="imageMaxShow()">
								<a class="thumbnail">
									<img src="/images/ravi20.jpg">
								</a>
							</div>
							<div class="col-xs-6 col-sm-4" ng-click="imageMaxShow()">
								<a class="thumbnail">
									<img src="/images/ravi21.jpg">
								</a>
							</div>
							<div class="col-xs-6 col-sm-4" ng-click="imageMaxShow()">
								<a class="thumbnail">
									<img src="/images/ravi11.JPG">
								</a>
							</div>
							<div class="col-xs-6 col-sm-4" ng-click="imageMaxShow()">
								<a class="thumbnail">
									<img src="/images/ravi24.JPG">
								</a>
							</div>
						</div>
					</div>
					<div class="col-sm-12 gallery-maximize">
						<div class="row">
							<div class="col-sm-12" style="text-align:right;" ng-click="imageMaxClose()">
								<a class="close-sign"><span class="glyphicon glyphicon-remove"></span></a>
							</div>
							<div class="col-sm-10 col-sm-push-1 photo-block">
								
							</div>
						</div>
					</div>
				</div>
			</div> -->

    <div id="contact-me" class="col-xs-12 col-sm-12 contact-me">
      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <h2>CONTACT ME</h2>
          <hr />
        </div>
        <div class="col-xs-12 col-sm-8 col-sm-push-2">
          <div class="row">
            <div class="col-xs-12 col-sm-12">
              <p>
                You can reach me through below mentioned ways or drop a mail to
                my mail id.
              </p>
	    </div>
            <div class="col-xs-12 col-sm-12 text-center">
              <li>
                <ul>
                  <a
                    target="_blank"
                    href="mailto:ravki.1991@gmail.com"
                    ><i class="fa fa-envelope"></i
                  ></a>
                </ul>
                <ul>
                  <a target="_blank" href="https://twitter.com/ravki1991"
                    ><i class="fa fa-twitter"></i
                  ></a>
                </ul>
                <ul>
                  <a target="_blank" href="https://in.linkedin.com/in/ravki1991"
                    ><i class="fa fa-linkedin"></i
                  ></a>
                </ul>
              </li>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-push-3">
          Copyright © 2019 FriendyBoltz. Design by Ravi Kiran.
        </div>
      </div>
    </div>
  </footer>
</div>
